@import "tailwindcss";

@theme {
  --color-background: #EDEDED;
  --color-foreground: #0A0C10;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS 4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS 3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button,
  [role="button"],
  a {
    cursor: pointer;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  
  .animate-marquee-slow {
    animation: marquee 45s linear infinite;
  }
  
  .animate-marquee-fast {
    animation: marquee 15s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
